:root {
    color-scheme: dark;
}
body {
    background-color: #2d2d2d;
}
#reset {
    background-color: #cf2929;
    border: 1px solid #cf2929
}
#zoom-box {
    box-shadow: 1px 1px 3px black;
}
#level-container, #toolbar, #sprite-toolbar {
    background-color: #4b4d4d;

}
#level-container {
    box-shadow: 1px 1px 3px black
}
#secondary-container, #zoom-box {
    background-color: #1a1a1a
}
input, button, select {
    background-color: #4b4d4d;
    border: 1px solid #4b4d4d
}
h2, p, input, button, select, label {
    color: whitesmoke
}